  <!-- Grid column -->

  <!-- Grid column -->
  <div class="mb-3 pics animation all 1">
    <img class="img-fluid" src="static/img/AX-3.jpg" alt="Card image cap">
    <h4 class="img-title" style="color: #595959;">649</h4>
  </div>
  <!-- Grid column -->

  <!-- Grid column -->
  <div class="mb-3 pics all  2">
    <img class="img-fluid" src="static/img/AN-7.jpeg" alt="yessir">
    <h4 class="img-title" style="color: #595959;">narsarover</h4>
  </div>

  <!-- Grid column -->

  <!-- Grid column -->
  <div class="mb-3 pics all  2">
    <img class="img-fluid" src="{{ Project.image }}" alt="{% static project.title %}">
    <h4 class="img-title" style="color: #595959;">sarkhej</h4>
  </div>

  <!-- Grid column -->

  <!-- Grid column -->
  <div class="mb-3 pics all  2">
    <img class="img-fluid" src="static/img/mirror.jpg" alt="{% static project.title %}">
    <h4 class="img-title" style="color: #595959;"></h4>
  </div>

  <!-- Grid column -->

  <!-- Grid column -->
  <div class="mb-3 pics animation all 1">
    <img class="img-fluid" src="static/img/butterfly.jpg" alt="Card image cap">
    <h4 class="img-title" style="color: #595959;">??</h4>
  </div>
  <!-- Grid column -->

  <!-- Grid column -->
  <div class="mb-3 pics animation all 2">
    <img class="img-fluid" src="static/img/beoch.jpg" alt="Card image cap">
    <h4 class="img-title" style="color: #595959;">honolulu</h4>
  </div>
  <!-- Grid column -->

  <!-- Grid column -->
  <div class="mb-3 pics animation all 2">
    <img class="img-fluid" src="static/img/IMG_9313.JPG" alt="Card image cap">
    <h4 class="img-title" style="color: #595959;">oahu</h4>
  </div>
  <!-- Grid column -->

  <!-- Grid column -->
  <div class="mb-3 pics animation all 1">
    <img class="img-fluid" src="static/img/IMG_9378.JPG" alt="Card image cap">
    <h4 class="img-title" style="color: #595959;">honolulu</h4>
  </div>
  <!-- Grid column -->
<div class="mb-3 pics all  2">
    <img class="img-fluid" src="static/img/AN-4.jpg" alt="{% static project.title %}">
    <h4 class="img-title" style="color: #595959;">sulfur mountain</h4>
  </div>
    <!-- Grid column -->
    <div class="mb-3 pics animation all 1">
      <img class="img-fluid" src="static/img/IMG_9416.JPG" alt="Card image cap">
      <h4 class="img-title" style="color: #595959;">honolulu</h4>
    </div>

    <div class="mb-3 pics animation all 2">
      <img class="img-fluid" src="static/img/AN-2.JPG" alt="Card image cap">
      <h4 class="img-title" style="color: #595959;">musha meme</h4>
    </div>

    <div class="mb-3 pics animation all 2">
      <img class="img-fluid" src="static/img/IMG_8773.jpg" alt="Card image cap">
      <h4 class="img-title" style="color: #595959;">yyc</h4>
    </div>
